<fieldset>
  <legend>California</legend>

  <table>
    <tr>
      <td align="center">
        <label for="counties_enabled">Show opportunities in:</label>
        <%= collection_select("counties", "enabled", @enabled_counties, 'id', 'region_name', {}, {:style => "width: 200px; height: 13em;", :size => 10}) %>
      </td>
      <td align="center" style="padding-right: 30px;">
        <%= button_to_function "&lt;&lt;", "enableSelectedCounty();" %>
        <br/><br/><br/>
        <%= button_to_function "&gt;&gt;", "disableSelectedCounty();" %>
      </td>
      <td align="center">
        <label for="counties_disabled">Available counties</label>
        <%= collection_select("counties", "disabled", @disabled_counties, 'id', 'region_name', {}, {:style => "width: 200px; height: 13em;", :size => 10}) %>
      </td>
    </tr>
  </table>
  
  <p class="bottom"><%= link_to(image_tag('btn_save_changes.png', :alt => 'Save Changes'), retailer_dashboard_url) %></p>
</fieldset>