<p>You have just received a new quote for a <%= @profile_nameplate_rating %> kW solar energy system from a retailer who works in <%= h(@quote.city) %> in response to your request on Renewzle.com. The installer quoted you a system price of <%= @system_price %> for a <%= @quote_nameplate_rating %> DC kW system, a cost per Watt of <strong><%= @cost_per_watt %></strong>.</p>

<p><a href="<%= @shop_url %>">Visit your Renewzle dashboard</a> to see details for this quote as well as a full list of your quotes with financial comparisons and retailer information. When you find a quote you like, just click <em>Talk to this retailer</em>, and they will contact you promptly.</p>

<p>If you have any trouble logging into Renewzle or have any questions, please email support@renewzle.com or call us at (510) 542-7418.</p>

<p>
  Thank you,<br />
  The Renewzle Team
</p>

<p>
  Renewzle.com — Solar for Your Home Made Easy<br />
  Renewzle, Inc.<br />
  San Francisco, CA<br />
  Phone: (510) 542-7418<br />
  support@renewzle.com
</p>