<h3>Company Information</h3>
<div id="company" class="fieldgrp">
  <%= f.label(:name) %>
  <div class="field">
    <%= f.text_field(:name) %>
  </div>
</div>

<div id="company" class="fieldgrp">
  <%= f.label(:email) %>
  <div class="field">
    <%= f.text_field(:email) %>
  </div>
</div>

<div id="company" class="fieldgrp">
  <%= f.label(:url) %>
  <div class="field">
    <%= f.text_field(:url) %>
  </div>
</div>

<div id="company" class="fieldgrp">
  <%= f.label(:street_address) %>
  <div class="field">
    <%= f.text_field(:street_address) %>
  </div>
</div>

<div id="company" class="fieldgrp">
  <%= f.label(:city) %>
  <div class="field">
    <%= f.text_field(:city) %>
  </div>
</div>

<div id="company" class="fieldgrp">
  <%= f.label(:state) %>
  <div class="field">
    <%= f.text_field(:state) %>
  </div>
</div>

<div id="company" class="fieldgrp">
  <%= f.label(:postal_code) %>
  <div class="field">
    <%= f.text_field(:postal_code) %>
  </div>
</div>

<div id="company" class="fieldgrp">
  <%= f.label(:country) %>
  <div class="field">
    <%= f.text_field(:country) %>
  </div>
</div>

<div id="company" class="fieldgrp">
  <%= f.label(:phone_number) %>
  <div class="field">
    <%= f.text_field(:phone_number) %>
  </div>
</div>

<div id="company" class="fieldgrp">
  <%= f.label(:fax_number) %>
  <div class="field">
    <%= f.text_field(:fax_number) %>
  </div>
</div>

<div class="fieldgrp">
  <label>&nbsp;</label>
  <div class="field">
    <%= f.check_box(:installs) %> Installs?
  </div>
</div>

<h3>CEC Company Information</h3>
<div id="company" class="fieldgrp">
  <%= f.label(:cec_name) %>
  <div class="field">
    <%= f.text_field(:cec_name) %>
  </div>
</div>

<div id="company" class="fieldgrp">
  <%= f.label(:cec_email) %>
  <div class="field">
    <%= f.text_field(:cec_email) %>
  </div>
</div>

<div id="company" class="fieldgrp">
  <%= f.label(:cec_url) %>
  <div class="field">
    <%= f.text_field(:cec_url) %>
  </div>
</div>

<div id="company" class="fieldgrp">
  <%= f.label(:cec_street_address) %>
  <div class="field">
    <%= f.text_field(:cec_street_address) %>
  </div>
</div>

<div id="company" class="fieldgrp">
  <%= f.label(:cec_city) %>
  <div class="field">
    <%= f.text_field(:cec_city) %>
  </div>
</div>

<div id="company" class="fieldgrp">
  <%= f.label(:cec_state) %>
  <div class="field">
    <%= f.text_field(:cec_state) %>
  </div>
</div>

<div id="company" class="fieldgrp">
  <%= f.label(:cec_postal_code) %>
  <div class="field">
    <%= f.text_field(:cec_postal_code) %>
  </div>
</div>

<div id="company" class="fieldgrp">
  <%= f.label(:cec_country) %>
  <div class="field">
    <%= f.text_field(:cec_country) %>
  </div>
</div>

<div id="company" class="fieldgrp">
  <%= f.label(:cec_phone_number) %>
  <div class="field">
    <%= f.text_field(:cec_phone_number) %>
  </div>
</div>

<div id="company" class="fieldgrp">
  <%= f.label(:cec_fax_number) %>
  <div class="field">
    <%= f.text_field(:cec_fax_number) %>
  </div>
</div>

<div class="fieldgrp">
  <label>&nbsp;</label>
  <div class="field">
    <%= f.check_box(:cec_installs) %> Installs?
  </div>
