<div class="span-19 almost">
  <ul<%= dom_id_from(@tab) %>>
    <li class="get_started"><%= link_to('Get Started', learn_url) %> <%= separator %></li>  
    <li class="how_solar_systems_work"><%= link_to('How Solar Works', how_solar_systems_work_url) %> <%= separator %></li>
    <li class="solar_power_costs_savings"><%= link_to(h('Solar Power Costs & Savings'), solar_power_costs_savings_url) %> <%= separator %></li>
    <li class="solar_and_the_environment"><%= link_to(h('Solar & the Environment'), solar_and_the_environment_url) %> <%= separator %></li>
    <li class="rebates_and_incentives"><%= link_to(h('Rebates & Incentives'), rebates_and_incentives_url) %></li>
  </ul>
</div>